


.container-product {
  display: inline-flex;
  justify-content: center;
  flex-basis: 21%;
  max-width: 21%;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 25px;
}
.container-product .box {
  margin-bottom: 10px;
}
.container-product .box a img {
  width: 100%;
}
.container-product .box .text a .title {
  margin: 10px 0;
  color: black;
  font-weight: bold;
}
.container-product .box .text a .price {
margin: 10px 0;
}
.container-product .box .text .btn {
  float: right;
  border: 0;
  padding: 10px 17px;
  color: white;
  background-color: #ee2761;
  border-radius: 6px;
} 
.container-product .box .text .btn:hover {
  animation: pop 0.7s infinite;
}